@import "tailwindcss";
@config "../../tailwind.config.js";





@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 142.1 76.2% 36.3%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 142.1 76.2% 36.3%;
        --radius: 0.3rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 142.4 71.8% 29.2%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

html {
    font-family: "Fira Sans", sans-serif
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold
}

h3 {
    @apply text-2xl
}

/* end headings */



/* form */


form label {
    @apply text-sm font-medium text-muted-foreground pl-1
}

/* end form */


/* input */

input, textarea, select {
    @apply flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
}

input:user-invalid,
textarea:user-invalid,
select:user-invalid {
    @apply border-destructive
}

input[type="checkbox"] {
    @apply h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground
}

/* end input */




/* button */
button {
    @apply cursor-pointer
}

button.tab {
    @apply rounded-none transition-all
}

button.tab.active {
    @apply border-b-2 border-primary bg-muted
}

a.button, button {
    @apply h-9 px-4 py-2 inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-primary/90 bg-primary;
}

button.destructive,
a.destructive {
    @apply bg-destructive text-destructive-foreground shadow hover:bg-destructive/90
}


a.primary, button.primary {
    @apply bg-primary text-primary-foreground shadow hover:bg-primary/90
}

a.stroke, button.stroke {
    @apply bg-background hover:bg-accent hover:text-accent-foreground
}

a.glass, button.glass {
    @apply bg-background text-foreground shadow hover:bg-accent hover:text-accent-foreground blur-md
}



/* end buttons */

/* flashes */

/* Container UL */
.flashes {
    @apply fixed bottom-4 right-4 z-50 flex flex-col items-end space-y-2;
}

/* Each LI */
.flashes li {
    @apply w-full max-w-sm text-white px-4 py-3 rounded shadow-lg flex justify-between items-center;
}

/* Per message category */
.flashes .success { 
    @apply bg-green-600;
}

.flashes .warning {
    @apply bg-yellow-600;
}

.flashes .error {
    @apply bg-red-600;
}

/* Close button */
.flashes .close-btn {
    @apply text-white ml-4 cursor-pointer font-bold text-xl leading-none;
}

/* end flashes */