{{ define "login_page" }}

{{template "header.tmpl" . }}

<div class="h-screen flex flex-col justify-center items-center">
  <div class="flex flex-col gap-4 p-4">
  <h2 class="text-2xl font-bold">Log In</h2>
  <form>
    <div>
      <label for="email">Email</label>
      <input type="email" placeholder="Email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="Password" required>
    </div>
    <button class="mt-2" type="submit">Log In</button>
  </form>
  </div>  
</div>
{{template "footer.tmpl"}}


{{ end }}